@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=DotGothic16&family=Sigmar&family=Silkscreen&display=swap');

.basic-panel {
  background-color: #FDC175;
  border: 4px solid #A8824F;
  color: black
}

.basic-panel:hover {
  background-color: #A8824F;
  border: 4px solid #FDC175;
}